{%load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Social Media Scheduling</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link href="{% static "assets/plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="{% static "assets/plugins/font-awesome/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugins/flexslider/flexslider.css" %}">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static "assets/css/styles.css" %}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 

<body class="home-page">   
    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">       
            <a href="index.html"><h1 class="logo"><img src="{% static "assets/images/logo.png" %}" height="60px"></h1></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item"><a href="index.html">Home</a></li>
                        <li class="nav-item"><a href="pricing.html">Pricing</a></li>
                        <li class="nav-item"><a href="login.html">Log in</a></li>
                        <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="signup.html">Sign Up Free</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->                     
        </div><!--//container-->
    </header><!--//header-->
    
    <!-- slider disabled, please use static background -->
    <div class="bg-slider-wrapper">
        <div class="flexslider bg-slider">
            <ul class="slides">
                <li class="slide slide-1"></li>
            </ul>
        </div>
    </div><!--//bg-slider-wrapper-->        
    
    <section class="promo section section-on-bg">
        <div class="container text-center">                
            <h2 class="title"></strong>everpresent</strong> | schedules your social media posts<br> for the day, week or month.</h2>
            <p class="intro">Struggling to keep your social media channels regularly updated?</p>
            <br>
            <p><a class="btn btn-cta btn-cta-primary" href="signup.html">Start Scheduling My Social Media</a></p>   
            <!-- <button type="button" class="play-trigger btn-link " data-toggle="modal" data-target="#modal-video" data-backdrop="static" data-keyboard="false"><i class="fa fa-youtube-play"></i> Watch the video</button> -->
        </div><!--//container-->
    </section><!--//promo-->
    
    <div class="sections-wrapper">   
     
        <!-- ******Why Section****** -->
        <section id="why" class="section why">
            <div class="container">
                <h2 class="title text-center">So what exactly is the Everpresent thing?</h2>
                <!-- <p class="intro text-center">xxxxxx.</p> -->
                <div class="row item">
                    <div class="content col-md-4 col-sm-12 col-xs-12">
                        <h3 class="title"><nbsp>It's a social media scheduler</h3>
                        <div class="desc">
                            <p>
                                Simply, Everpresent updates your social media channels with content you choose at times you choose, keeping your social media accounts cranking, even when you're not there.
                            </p>
                            <p>
                                A week's worth of social media posts sorted in ten minutes? Get out!
                            </p>
                        </div>
                        <div class="quote">
                            <div class="quote-profile">
                                <img class="img-responsive img-circle" src="{% static "assets/images/people/profile-s-1.png" %}" alt="" />
                            </div><!--//profile-->
                            <div class="quote-content">
                                <blockquote><p><a href="https://twitter.com/everpresentapp" target="_blank">@everpresentapp</a> Love it! Thank you for making my life easier and saving me time! I’ll definitely recommend it to my friends. :)</p></blockquote>
                                <p class="source"><a href="https://twitter.com/MikeSaliba5" target="_blank">@MikeSaliba5</a>, Sydney</p>
                            </div><!--//quote-content-->                                     
                        </div><!--//quote-->                        
                    </div><!--//content-->
                    <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                        <img class="img-responsive" src="{% static "assets/images/figures/figure-1.png" %}" alt="" />
                        <figcaption class="figure-caption">Everpresent Mission Control</figcaption>
                    </figure>
                </div><!--//item-->

                <!-- Social networks -->
                <div class="row item">
                    <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                        <h3 class="title">Which updates social channels</h3>
                        <div class="desc">
                            <p>Everpresent connects with Facebook, Twitter and LinkedIn.
                            Choose to share a post on one, two or all networks so your always in control.</p>                            
                            <p>Got a sale coming up - post about it daily to Facebook.</p>
                            <p>Sharing an inspiring quote - short, sharp and onto Twitter please.</p>
                            <p>Positions vacant - LinkedIn professionals enquire within.</p>
                                                   
                        </div>                        
                    </div><!--//content-->
                    <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                        <img class="img-responsive" src="{% static "assets/images/figures/figure-3.png" %}" alt="" />
                    </figure>
                </div><!--//item-->
                
                
                <div class="row item last-item">
                    <div class="content col-md-4 col-sm-12 col-xs-12">
                        <h3 class="title">Even when you can't...</h3>
                        <div class="desc">                            
                            <p>We know all you hustlers never sleep but on the odd occasion that you do need some shut eye, Everpresent has got your back.<br>
                            <br>Reach your wordly partners by setting posts in their timezone. Leaving you to... Sleep!<br>
                            <br>(If you're on this website you probably need more sleep)</p>
                        </div>
                        <div class="quote">
                            <div class="quote-profile">
                                <img class="img-responsive img-circle" src="{% static "assets/images/people/profile-s-4.png" %}" alt="" />

                            </div><!--//profile-->
                            <div class="quote-content">
                                <blockquote><p>Nice template! It’s practical and there is no gimmicks. Very easy to customise as well!</p></blockquote>
                                <p class="source"><a href="#">@AlexD</a>, London</p>
                            </div><!--//quote-content-->          
                        </div><!--//quote-->                        
                    </div><!--//content-->
                    <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                        <img class="img-responsive" src="{% static "assets/images/figures/figure-4.png" %}" alt="" />
                    </figure>
                </div><!--//item-->
                
                
                
                
                <div class="feature-lead text-center">
                    <h4 class="title">Want to discover all the features?</h4>
                    <p><a class="btn btn-cta btn-cta-secondary" href="features.html">Take a Tour</a></p>
                </div>
            </div><!--//container-->
        </section><!--//why-->  
        
        <!-- ******Testimonials Section****** -->
        <section class="section testimonials">
            <div class="container">
                <h2 class="title text-center">What are people saying about Everpresent?</h2>
                <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                        <li data-target="#testimonials-carousel" data-slide-to="2"></li>
                    </ol><!--//carousel-indicators-->
                    <div class="carousel-inner">
                        <div class="item active">
                            <figure class="profile"><img src="{% static "assets/images/people/profile-m-1.png" %}" alt="" /></figure>
                            <div class="content">
                                <blockquote>
                                <i class="fa fa-quote-left"></i>
                                <p>Authentic Godard pop-up disrupt, pickled PBR DIY next level. Pop-up pour-over wayfarers, meh paleo cred hella lomo freegan. Fap tote bag blog dreamcatcher Kickstarter.</p>
                                </blockquote>
                                <p class="source">Micahel Saliba<br /><span class="title"><a href="https://www.facebook.com/smartlineMichaelandMehdi?fref=ts" target="_blank">Smartline Mortage Advisors</a>, Sydney</span></p>
                            </div><!--//content-->                         
                        </div><!--//item-->                        
                        <div class="item">
                            <figure class="profile"><img src="{% static "assets/images/people/profile-m-2.png" %}" alt="" /></figure>
                            <div class="content">
                                <blockquote>
                                <i class="fa fa-quote-left"></i>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint.</p>
                                </blockquote>
                                <p class="source">Diana	Luna<br /><span class="title">Entrepreneur, Maecenas</span></p>
                            </div><!--//content-->                         
                        </div><!--//item-->  
                        <div class="item">
                            <figure class="profile"><img src="{% static "assets/images/people/profile-m-3.png" %}" alt="" /></figure>
                            <div class="content">
                                <blockquote>
                                <i class="fa fa-quote-left"></i>
                                <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
                                </blockquote>
                                <p class="source">Tony Lee<br /><span class="title">CTO, Lorem Ipsum</span></p>
                            </div><!--//content-->                         
                        </div><!--//item-->                                         
                    </div><!--//carousel-inner-->
                    
                </div><!--//carousel-->
            </div><!--//container-->
        </section><!--//testimonials-->          
        
        <!-- ******Press Section****** -->
        <section class="section press">
            <div class="container text-center">
                <!-- <h2 class="title">Coverage</h2>
                <ul class="press-list list-inline row">
               <!-- <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/images/press/press-1.png" alt="" /></a></li>
                </ul><!--//press-list-->
                <!-- <ul class="press-list list-inline row last">
            <!--    <li class="col-md-2 col-sm-2 col-xs-4"><a href="#"><img class="img-responsive" src="assets/images/press/press-7.png" alt="" /></a></li>
                </ul><!--//press-list-->
                
                <div class="press-lead text-center">
                     <h3 class="title">Press enquires?</h3>
                     <p class="press-links"><a href="#">Download our press kit</a> or <a href="contact.html">Get in touch</a></p>
                </div>
               
            </div><!--//container-->
        </section><!--//press-->
        
        <!-- ******CTA Section****** -->
        <section id="cta-section" class="section cta-section text-center home-cta-section">
            <div class="container">
               <h2 class="title">Ready to finally oranise your social media reach?</h2>
               <p class="intro">More than <span class="counting">500</span> smart cookies are using Everpresent</p>
               <p><a class="btn btn-cta btn-cta-primary" href="signup.html" target="_blank">Get On</a></p>
            </div><!--//container-->
        </section><!--//cta-section-->
        
    </div><!--//section-wrapper-->
    
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">The app</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>How it works</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Pricing</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->              
                    
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">The team</h3>
                            <ul class="list-unstyled">
                                <li><a href="about.html"><i class="fa fa-caret-right"></i>About</a></li>
                                <!-- <li><a href="#"><i class="fa fa-caret-right"></i>Blog</a></li> -->
                                <li><a href="contact.html"><i class="fa fa-caret-right"></i>Contact</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->    
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
                        <div class="footer-col-inner">
                            <h3 class="title">The ins and outs</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>Help</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Terms of services</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Privacy</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->            
                    </div><!--//foooter-col-->   
                    <div class="footer-col connect col-md-6 col-sm-12 col-xs-12">
                        <div class="footer-col-inner">
                            <ul class="social list-inline">
                                <li><a href="https://twitter.com/everpresentapp" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/everpresentapp" target="blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://plus.google.com/+Everpresentapp" target="blank"><i class="fa fa-google-plus"></i></a></li>
                                <li class="row-end"><a href="https://www.linkedin.com/company/everpresent-app" target="blank"><i class="fa fa-linkedin"></i></a></li>             
                            </ul>
                            <div class="form-container">
                                <p class="intro">Stay up to date with the latest news from Everpresnt</p>
                                <form class="signup-form navbar-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                    </div>   
                                    <button type="submit" class="btn btn-cta btn-cta-primary">Subscribe Now</button>                                 
                                </form>                               
                            </div><!--//subscription-form-->
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                    <div class="clearfix"></div> 
                </div><!--//row-->
                <div class="row has-divider">
                    <div class="footer-col download col-md-6 col-sm-12 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Mobile apps</h3>
                            <ul class="list-unstyled download-list">
                                <li><a class="btn btn-ghost" href="#"><i class="fa fa-android"></i><span class="text">Android coming soon...</span> </a></li>
                                <li><a class="btn btn-ghost" href="#"><i class="fa fa-apple"></i><span class="text">IOS coming soon...</span></a></li>
                                <li><a class="btn btn-ghost" href="#"><i class="fa fa-windows"></i><span class="text">Windows coming soon...</span></a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//download-->
                    <div class="footer-col contact col-md-6 col-sm-12 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Contact us</h3>                          
                            <p class="adr clearfix">
                                <i class="fa fa-map-marker pull-left"></i>        
                                <span class="adr-group pull-left">       
                                    <span class="street-address">Suite 228, T12</span><br>
                                    <span class="region">530 Collins Street</span><br>
                                    <span class="postal-code">Melbourne Victoria</span><br>
                                    <span class="country-name">Australia 3000</span>
                                </span>
                            </p>
                            <p class="email"><i class="fa fa-envelope-o"></i><a href="#">everpresentapp@huntsmanlabs.com</a></p> 
                            <a href="https://twitter.com/everpresentapp" class="twitter-follow-button" data-show-count="false">Follow @everpresentapp</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>                        
                        </div><!--//footer-col-inner-->
                    </div><!--//contact-->
                </div>
            </div><!--//container-->
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <small class="copyright">Copyright @ 2015 <a href="http://huntsmanlabs.com/" target="_blank">Huntsman Labs</a></small>                
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->
    
    <!-- Video Modal -->
    <div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="videoModalLabel" class="modal-title sr-only">Video Tour</h4>
                </div>
                <div class="modal-body">
                    <div class="video-container">
                        <iframe src="//player.vimeo.com/video/28872840?color=ffffff&amp;wmode=transparent" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div><!--//video-container-->
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="{% static "assets/plugins/jquery-1.11.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/plugins/jquery-migrate-1.2.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script> 
    <script type="text/javascript" src="{% static "assets/plugins/bootstrap-hover-dropdown.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/plugins/back-to-top.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/plugins/jquery-placeholder/jquery.placeholder.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/plugins/FitVids/jquery.fitvids.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/plugins/flexslider/jquery.flexslider-min.js" %}"></script>     
    <script type="text/javascript" src="{% static "assets/js/main.js" %}"></script>
    
            
</body>
</html> 

